<.header>
  New News
  <:subtitle>Use this form to manage news records in your database.</:subtitle>
</.header>

<.news_form changeset={@changeset} action={~p"/news"} />

<.back navigate={~p"/news"}>Back to news</.back>
