<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:title]} type="text" label="Title" />
  <.input field={f[:preamble]} type="text" label="Preamble" />
  <.input field={f[:sections]} type="text" label="Sections" />
  <:actions>
    <.button class="bg-green-600">Save News</.button>
  </:actions>
</.simple_form>
